.registrationPage {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

.leftColumn, .rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.registrationImage {
  max-width: 100%;
  height: auto;
}

.registrationTitle {
  margin-top: 20px;
  color: #333;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.passwordInputContainer {
  display: flex;
  align-items: center;
}

.togglePassword {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.loginPrompt p{
  margin-top: 20px;
  color: #000;
}

.loginLink {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}
